---
# The scss file which include files from _sass/
---

@charset "utf-8";

$base-font-family: 'Fira Sans', sans-serif;
$base-font-size:   20px;
$small-font-size:  0.875rem;
$base-line-height: 1.5;

$meta-small-font-family: Inconsolata, 'Courier New', Courier, monospace;

$text-color:   #C7D2DA;
$link-color:   #0FB9B9;
$meta-color:   #a0a0a0;
$border-color: #E69D00;

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,700|Inconsolata);
@import "color";
@import "base";
@import "layout";
@import "syntax";

