<div class="discussion">
    <hr>
    <p>Please create issues at the Github repo
        <a href="https://github.com/carsten-j/carsten-j.github.io">Twitter</a>.
    </p>
    <p>
        <a href="https://github.com/carsten-j/carsten-j.github.io/tree/master/{{page.path}}"><i class="fa fa-github"></i> Edit page on GitHub.</a> Please help me to improve the blog by fixing mistakes on GitHub. This link will take you directly to this page in our GitHub repository.
    </p>
    <p>There are more posts on the <a href="/">front page</a>.</p>
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Content of this blog</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://carsten-j.github.io/" property="cc:attributionName" rel="cc:attributionURL">Carsten Jørgensen</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.    
</div>
