<div class="discussion">
    <hr>
    <p>Please send messages and comments to my twitter account
        <a href="https://twitter.com/carstenj">Twitter</a>.
    </p>
    <p>
        <a href="https://github.com/carsten-j/carsten-j.github.io/tree/master/{{page.path}}"><i class="fa fa-github"></i> Edit page on GitHub.</a> Please help me to improve the blog by fixing mistakes on GitHub. This link will take you directly to this page in our GitHub repository.
    </p>
    <p>There are more posts on the <a href="/">front page</a>.</p>
</div>
